/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
@import '~react-image-gallery/styles/css/image-gallery.css';

/* purgecss start ignore */
.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 30px;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000000000000;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  .sliderimg {
    width: 100%;
    object-fit: contain;
    height: 30vh;
  }
  .sliderimg div {
    height: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .sliderimg {
    width: 100%;
    object-fit: contain;
    height: 30vh;
  }
  .sliderimg div {
    height: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .sliderimg {
    width: 100%;
    object-fit: contain;
    height: 50vh;
  }
  .sliderimg div {
    height: 100%;
  }
}

@media only screen and (min-width: 1824px) {
  .sliderimg {
    width: 100%;
    object-fit: contain;
    height: 40vh;
  }
  .sliderimg div {
    height: 100%;
  }
}

.image-gallery-custom-left-nav {
  position: absolute;
  left: 0;
  padding: 10px 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  border-radius: 4px;
  background-color: rgba(216, 216, 216, 0.5);
}

.image-gallery-custom-right-nav {
  position: absolute;
  right: 0;
  padding: 10px 10px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  z-index: 4;
  background-color: rgba(216, 216, 216, 0.5);
}

.image-gallery-fullscreen-button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(216, 216, 216, 0.5);
  border-radius: 4px;
}

.image-gallery-slides {
  line-height: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  text-align: center;
  border-radius: 4px;
}

.image-gallery-slide .image-gallery-image {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

.menu {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  right: 0;
  box-shadow: 0px 0px 5px 1px #e3e3e3;
  opacity: 0;
  visibility: hidden;
  z-index: 10000000000;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 10px 30px;
  display: block;
}
/* purgecss end ignore */
